body{
    background: orangered;
    color: lightgoldenrodyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1
{
    padding: 10px;
    font-size: 39px;
}

h5{
    text-align: center;
    background: black;
    padding: 10px;
}