body{
    background: orangered;
    color: lightgoldenrodyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1
{
    padding: 10px;
    font-size: 39px;
}

h2{
    text-align: center;
    background: black;
    padding: 10px;
}


body p{
    font-size: 18px;
}

.images
{
    text-align: center;
}

.images img 
{
    padding : 14px;
}

@media only screen and (min-width: 1200px)
{

    .images
    {
        display: flex;
    }

    .images img{
        flex:1;
    }
}