body{
    background: orangered;
    color: lightgoldenrodyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1
{
    padding: 10px;
    font-size: 39px;
}

h2, h1{
    text-align: center;
    background: black;
    padding: 10px;
}

body p{
    font-size: 28px;
}

main img{
    padding-left: 110px;
}

h1 a{
    text-decoration: none;
    color: papayawhip;
}

.actionImg, .comedyImg, .romanceImg
{
   margin-right: 60px;
   margin-bottom: 5px;
}

.actionImg img, .romanceImg img, .comedyImg img{
    margin: auto;
}

.actionImg section, .comedyImg section, .romanceImg section
{
    border: 3px solid black;
    margin: 5px;
}

.MG{
    text-align: center;
}

.MG p{
    font-size: 20px;
}

.actionImg img{
    width: 200px;
    height: 250px;
}

.comedyImg img{
    width: 240px;
    height: 280px;
}

.romanceImg img{
    width: 250px;
    height: 200px;
}

a{
    text-decoration: none;
    color: blanchedalmond;
}

@media only screen and (min-width: 1200px)
{
    .actionImg, .romanceImg, .comedyImg{
        text-align: center;
    }

    .actionImg, .comedyImg, .romanceImg
    {
        display: flex;
    }

    .actionImg a, .comedyImg a, .romanceImg a{
        flex: 1;
    }

    .actionImg section, .comedyImg section, .romanceImg section{
        flex: 1;
    }
}