.opening{
    display: block;
}

.closing{
    display: none;
}

body{
    background: orangered;
    color: lightgoldenrodyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1
{
    padding: 10px;
    font-size: 39px;
}

h2{
    text-align: center;
    background: black;
    padding: 10px;
}

h3{
    color: black;
}

.recommended, .nowStreaming
{
    text-align: center;
}

.randomPosters, .randomPosters2{
    text-align: center;
}

.randomPosters2 img, .randomPosters img{
    margin: 10px;
}

.RP
{
    background: blanchedalmond;
}

.RN{
    display: none;
}

@media only screen and (min-width: 1200px)
{
    .randomPosters img
{
    padding-top: 5px;
    margin: auto;
}

    .recommended, .nowStreaming
    {
        display: flex;
    }

    .randomPosters, .randomPosters2{
        display: flex;
    }

    .randomPosters2 img{
        flex:1;
    }
}