body{
    background: orangered;
    color: lightgoldenrodyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1
{
    padding: 10px;
    font-size: 39px;
}

h2{
    text-align: center; 
    background: black;
    padding: 10px;
}

li{
    list-style-type: none;
}

#images img{
    margin: auto;
}

@media only screen and (min-width: 1200px)
{
    #images
    {
        text-align: center;
    }

    #images
    {
        display: flex;
    }

    #images li
    {
        flex:1;
    }
}