.main-nav li{
    list-style-type: none;
    padding: 10px;
    text-align: center;
}
.main-nav a{
    text-decoration: none;
    color: blanchedalmond;
}

.main-nav li a:hover{
    color: crimson;
}

.main-nav .hide-small{
    display: none;
}

.main-nav{
    text-align: center;
}

@media only screen and (min-width: 1200px) {

    .main-nav ul{
        display: flex;
    }

    .main-nav button {
        display:none;
    }

    .main-nav .hide-small {
        display:flex;
    }
}
